body {
    background: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Floating effect by increasing opacity*/
    border-radius: 10px;
    text-align: center;
}

.contact-form h1,
.contact-form h4 {
    margin-bottom: 20px;
}

#queryForm div {
    margin-bottom: 20px;
}

#queryForm input,
#queryForm textarea {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;     /*This ensures that the input field is not overflowing*/
    font-family: inherit;
    background: #f9f9f9;
    transition: border-color 0.3s ease;
}

#queryForm input::placeholder,
#queryForm textarea::placeholder {
    font-size: 14px;
    color: #999;
}

#queryForm input:focus,
#queryForm textarea:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
}

#queryForm textarea {
    /* resize: vertical; */
    min-height: 100px;
}

#queryForm button {
    background: #007bff;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#queryForm button:hover {
    background-color: #0056b3;
}