<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <div class="company-name">
        <h1>JAI SAI RAM DOCUMENTATION</h1>
    </div>
    <div class="navigation-bar">
        <nav>
            <ul class="all-options" id="navbar-menu">
                <li class="list-options active"></li>
                <li class="list-options"></li>
                <li class="list-options"></li>
            </ul>
        </nav>
    </div>
</body>
</html>