<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/generalStyle.css">
    <link rel="stylesheet" href="/style/service.css">
    <title>Our Services</title>
</head>
<body>
    <div class="company-name">
        <h1>JAI SAI RAM DOCUMENTATION</h1>
    </div>
    <div class="navigation-bar">
        <nav>
            <ul class="all-options">
                <li class="list-options">About-Us</li>
                <li class="list-options active">Services Provided</li>
                <li class="list-options">Inquiry</li>
                <li class="list-options">Contact-Us</li>
            </ul>
        </nav>
    </div>
    <div class="page-data">
        <p></p>
    </div>
</body>
</html>